---
import { getCollection, render } from "astro:content";
import SiteLayout from "../../../../../layouts/SiteLayout.astro";
import { type Lang } from "../../../../../lib/site";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => {
    const [lang, year, slug] = post.id.split("/");

    return {
      params: { lang, year, slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);
const lang = Astro.params.lang as Lang;

const formatter = new Intl.DateTimeFormat(lang === "es" ? "es-ES" : "en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<SiteLayout lang={lang} title={post.data.title}>
  <article class="panel prose">
    <p class="eyebrow">{formatter.format(post.data.date)}</p>
    <h1>{post.data.title}</h1>
    <Content />
  </article>
</SiteLayout>
